/* Global Styles */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

/* Header Styles */
h1 {
  text-align: center;
  font-size: 36px;
  margin: 20px 0;
  color: #48bbaea7;
  text-shadow: 2px 2px 2px #181818;
}

/* Bookings Styles */
.bookings {
  display: flex;
  flex-direction: column;
  width: auto;
  margin: 20px;
}

.bookings h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #2a9d8f;
}

.bookings ul {
  list-style: none;
  padding: 0;
}

.bookings li {
  font-size: 18px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 5px;
  color: #264653;
}

li[data-type="booking"]:hover {
  background-color: #48bbaea7;
  cursor: pointer;
}

li[data-type="venue"]:hover {
  color: #48bbaea7;
  cursor: pointer;
}

li[data-type="band"]:hover {
  color: #48bbaea7;
  cursor: pointer;
}

/* Venues and Bands Container Styles */
.venues-band-container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

/* Venues Styles */
.venues,
.bands {
  flex-basis: 45%;
}

.venues h2,
.bands h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #2a9d8f;
}
